.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tab-link {
    font-size: 20px;
    padding: 10px;
    display: inline;

}

.link {
    text-decoration: none;
    background-color: lime;
}

.tab-image {
    width: 400px;
    height: 300px;
    margin-top: 20px;
}

.tab-text {
    font-size: 25px;
    font-family: Verdana, sans-serif;
}
